@font-face {
  font-family: HNB;
  src: url(assets/fonts/helveticanowblack.otf);
}

* {
margin: auto;
overflow: hidden;
text-decoration: none;
}

.loader {
z-index: 99;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: white;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

body {
  font-family: HNB, Arial, Helvetica, sans-serif;
  font-kerning: auto;
}

.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.container h3 {
  position: absolute;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.container img {
  z-index: -1;
  position: relative;
  width: 80vw;
  height: 40vh;
  display: flex;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0,0,0,1);
  object-fit: cover;
}

@media all and (max-width: 800px) {
  .container h3 {
    font-size: 15px;
  }
}

@media all and (min-width: 800px) {
  .container h3 {
    font-size: 20px;
  }
}

.container:hover h3 {
  opacity: 1;
}
