* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none
}

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

.loader {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.welcome {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff; 
    font-family: 'Playfair Display', serif;
}

#title-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-title {
    font-size: 200%;
    opacity: 0;
    color: yellow;
    margin: 0;
}

.description-container {
    width: 50vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

.page-description {
    opacity: 0;
}

.enter {
    opacity: 0;
    width: 20vmin;
    height: auto;
    margin: 0.5em;
    border-radius: 5px;
    color: rgba(0,0,0,1);
    border: 1px solid rgba(0,0,0,0.5);
    font-family: 'Gotu', sans-serif;
    transition: border .25s, color .25s;
}

.enter:hover {
    border: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.5);
}

.wrapper {
    height: 100vh; /* height fallback */
    height: calc(var(--vh, 1vh) * 100);
    max-height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 25vmax); /*grid row fallback*/
    grid-template-rows: repeat(4, calc(var(--vmax, 1vmax) * 25));
    grid-template-columns: repeat(10, 25vmax); /*grid column fallback*/
    grid-template-columns: repeat(4, calc(var(--vmax, 1vmax) * 25));
}

.thumbnail {
    display: flex;
    color: #fff;
    font-size: 150%;
}

.a {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.a div {
    height: 100%;
    width: 0%;
    background-color: #e8ecf1;
    float: left;
}

.b {
    background-color: #ffd98e;
}

.c {
    background-color: #ffb677;
}

.d {
    background-color: #ff8364;
}

.e {
    background-color: #616f39;
}

.l {
    background-color: #7393a7;
}

.g {
    background-color: #b5cfd8;
}

.m {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
    background-color: #ffd3b6;
}

.h {
    background-color: #6c737e;
}

.i {
    background-color: #f5b971;
}