@font-face {
  font-family: helveticanow;
  src: url(assets/fonts/helveticanowblack.otf);
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg {
  fill: #fff;
  height: 18px;
  width: 18px;
}

.loader {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #000;
  font-family: helveticanow, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, button {
  margin: 0;
  padding: 0;
  border: none;
  border-color: transparent;
  font-family: 'Major Mono Display', monospace;
  color: #fff;
  background: #000;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* HEIGHT FALLBACK */
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
}

#name-container {
  color: #fff;
  font-size: 6vmin;
  letter-spacing: 0.25vmin;
  cursor: default;
  color: #ffeb3b;
}

#name-container span {
  display: inline-block;
  opacity: 0;
}

.debugMenu {
  display: none;
}

nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  flex-wrap: wrap;
  font-size: 2vmin;
  color: #ffffff;
  width: 100%;
}

a, .refresh  {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px 12px;
  border: 1px solid #cecece1a;
  border-radius: 500px;
  color: inherit;
  text-decoration: none;
  margin: 0 8px 8px 0;
  width: fit-content;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.refresh {
  background-color: transparent;
  color: #cecece5a;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

a svg {
  margin-left: 8px;
}

a:hover, a:hover svg, .refresh:hover, a:focus, a:focus svg, .refresh:focus {
  fill: #ffeb3b;
  color: #ffeb3b;
  cursor: pointer;
}

a:hover, .refresh:hover, a:focus, .refresh:focus {
  border: 4px solid #ffeb3b9a;
  background-color: #ffeb3b1a;
  padding: 0px 16px;
}

@media (max-width: 500px) {
  a {
    padding: 10px 16px;
    margin: 0 8px 8px 0;
    font-size: 18px;
  }
}